<h1>"Movies"</h1>

<% if user_signed_in? %>
  <div class="ml-auto">
    <%= button_to "Sign Out", destroy_user_session_path,
    method: :delete, class: "nav-link bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  </div>
<% end %>
<%= link_to "New Movie", new_movie_path %>